<%= form_with(model: extension) do |form| %>
  <% if extension.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(extension.errors.count, "error") %> prohibited this extension from being saved:</h2>

      <ul>
        <% extension.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :subtitle, style: "display: block" %>
    <%= form.textarea :subtitle %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
